
<div class="career-info-container">
  <div class="label-container">
    <ion-label>Companies I worked for</ion-label>
  </div>
  <div class="companies">
  <ion-card class="company">
    <div class="icon-container">
    <img src="assets/icon/syslab technologies.png">

  </div>
  <ion-card-subtitle>Syslab Technologies</ion-card-subtitle>
  </ion-card>

  <ion-card class="company">
    <div class="icon-container">
    <img src="assets/icon/fresh futures.jpeg">

  </div>
  <ion-card-subtitle>Fresh Futures</ion-card-subtitle>
  </ion-card>

  <ion-card class="company">
    <div class="icon-container">
    <img src="assets/icon/dm.jpeg">

  </div>
  <ion-card-subtitle>Digital Mall</ion-card-subtitle>
  </ion-card>
</div>

</div>
