:host {
  /* Position the component absolutely within its parent (ion-content) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Put the canvas behind all other ion-content elements */
  z-index: -1;
}

canvas {
  /* Make the canvas element fill its host container */
  width: 100%;
  height: 100%;
  display: block;
}