<div class="tech-stack">
  <div class="container">
    <div class="label-container">
     <ion-label class="tech-stack-label">Tech Stack</ion-label>
    </div>
    <div class="stack">
      <ion-icon name="logo-html5"></ion-icon>
      <ion-icon name="logo-sass"></ion-icon>
      <ion-icon name="logo-docker"></ion-icon>
      <ion-icon name="logo-javascript"></ion-icon>
      <ion-icon name="logo-angular"></ion-icon>
      <ion-icon name="logo-nodejs"></ion-icon>
      <ion-icon name="logo-apple-appstore"></ion-icon>
      <ion-icon name="logo-capacitor"></ion-icon>
      <ion-icon name="logo-css3"></ion-icon>
      <ion-icon name="logo-android"></ion-icon>
      <ion-icon name="logo-react"></ion-icon>
    </div>
  </div>
</div>
