<div class="tech-stack">
  <div class="container">
    <div class="label-container">
     <ion-label class="tech-stack-label">Tech Stack</ion-label>
    </div>
    <div class="stack">
      <ion-icon name="logo-html5"></ion-icon>
      <ion-icon name="logo-sass"></ion-icon>
      <ion-icon name="logo-docker"></ion-icon>
      <ion-icon name="logo-javascript"></ion-icon>
      <ion-icon name="logo-angular"></ion-icon>
      <ion-icon name="logo-nodejs"></ion-icon>
      <ion-icon name="logo-apple-appstore"></ion-icon>
      <ion-icon name="logo-capacitor"></ion-icon>
      <ion-icon name="logo-css3"></ion-icon>
      <ion-icon name="logo-android"></ion-icon>
      <ion-icon name="logo-react"></ion-icon>
    </div>
  </div>
  <div class="container">
    <div class="label-container">
     <ion-label class="tech-stack-label">Achievements</ion-label>
    </div>
    <div class="stack">
      <ion-icon name="logo-microsoft"></ion-icon>
      <h6><a href="https://learn.microsoft.com/en-us/users/muhammadjunaidgul-5019/achievements" target="_blank">Microsoft</a></h6>

      <ion-icon name="logo-github"></ion-icon>
      <h6><a href="https://github.com/junaid5546" target="_blank">Github</a></h6>
      <ion-icon name="logo-stackoverflow"></ion-icon>
      <h6><a href="https://stackoverflow.com/users/11321175/junaid-gul" target="_blank">
        Stack Overflow
      </a></h6>
    </div>
  </div>
</div>
