<div class="contact-me-container">
  <ion-grid>
    <ion-row>
      <ion-col class="horizontal-vertical-center" size="12">
        <ion-label class="contact-me">Contact</ion-label>
      </ion-col>
      <ion-col class="horizontal-vertical-center">
        <ion-label class="opacity">Don't be shy! Hit me up!</ion-label>
      </ion-col>

      <ion-col size="12">
        <ion-button href="https://wa.me/447918841539" target="_blank">
        <div class="contact" >
          <div class="contact-logo-container">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </div>
          <div class="contact-number" >
            <ion-label>WhatsApp</ion-label>
          </div>
        </div>
      </ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>
</div>
