<div class="project-info">
  <div class="heading label-container">
    <ion-label> Some of my finest work. </ion-label>
  </div>
  <div class="projects">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="9" offset="3">
          <div class="projects-info-container">
            <div class="project-source">
              <div class="project-secreenshot">
                <img src="assets/icon/riding.png" />
              </div>
            </div>
            <div class="project-description">
              <div class="project-name">
                <div class="name">
                  <ion-card-title>Gul Mall</ion-card-title>
                </div>
                <div class="platform">
                  <ion-label>Hybrid App</ion-label>
                </div>
              </div>
              <div class="project-details">
                <ion-card-content
                  >Innovative and results-driven professional with expertise in e-commerce and online marketplace development. Successfully conceptualized, designed, and implemented Gulmall.com, a dynamic online platform facilitating seamless buying and selling of clothing items. Engineered advanced filtering mechanisms for enhanced user experience and incorporated convenient sign-in options via Google, Facebook, phone number, and email. Implemented a robust advertising feature to optimize product visibility. Proven track record of creating and managing user-friendly interfaces, fostering customer engagement, and driving business growth in the competitive e-commerce landscape.</ion-card-content
                >
              </div>
              <div class="project-tools">
                <ion-chip>Ionic</ion-chip>
                <ion-chip>Angular</ion-chip>
                <ion-chip>Capacitor</ion-chip>
              </div>
              <div class="platform">




                <ion-chip>
                  <ion-icon name="globe-sharp"></ion-icon>

                  <ion-label>WEB</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>
              </div>
              <ion-button size="small" href="https://gulmall.com" target="_blank">
                <ion-label>Live Demo</ion-label>
                <ion-icon name="link-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="9">
          <div class="projects-info-container">
            <div class="project-source">
              <div class="project-secreenshot">
                <img src="assets/icon/riding.png" />
              </div>
            </div>
            <div class="project-description">
              <div class="project-name">
                <div class="name">
                  <ion-card-title>Riding Pink</ion-card-title>
                </div>
                <div class="platform">
                  <ion-label>Mobile App</ion-label>
                </div>
              </div>
              <div class="project-details">
                <ion-card-content
                  >Malaysia’s 1st All-Women Ride App. Our app harnesses the
                  power of Google Maps to provide users with a seamless and
                  comprehensive location-based experience. They can effortlessly
                  explore nearby places using the <span class="bold">Places API</span>, receive
                  personalized notifications with <span class="bold">geofencing</span>, plan efficient
                  routes with the <span class="bold">Directions API</span>, and enjoy a visually enhanced
                  map interface featuring <span class="bold">advanced markers</span>. Moreover, our app
                  offers the convenience of <span class="bold">reverse geolocation</span>, displaying
                  human-readable addresses for precise context.</ion-card-content
                >
              </div>
              <div class="project-tools">
                <ion-chip>Ionic</ion-chip>
                <ion-chip>Angular</ion-chip>
                <ion-chip>Cordova</ion-chip>
              </div>
              <div class="platform">
                <ion-chip>
                  <ion-icon name="logo-apple-appstore"></ion-icon>

                  <ion-label>IOS</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="logo-android"></ion-icon>

                  <ion-label>ANDROID</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="globe-sharp"></ion-icon>

                  <ion-label>WEB</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>
              </div>
              <ion-button size="small" href="https://ridingpink.com/">
                <ion-label>Live Demo</ion-label>
                <ion-icon name="link-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="9" offset="3">
          <div class="projects-info-container">
            <div class="project-source">
              <div class="project-secreenshot">
                <img src="assets/icon/DM.png" />
              </div>
            </div>
            <div class="project-description">
              <div class="project-name">
                <div class="name">
                  <ion-card-title>Digital Mall</ion-card-title>
                </div>
                <div class="platform">
                  <ion-label>Mobile App</ion-label>
                </div>
              </div>
              <div class="project-details">
                <ion-card-content
                  >Digital Mall operates on a straightforward and effective
                  business model that empowers both sellers and buyers in the
                  classifieds market. Our revenue generation strategy is
                  centered around offering value-added services and fostering a
                  thriving online community</ion-card-content
                >
              </div>
              <div class="project-tools">
                <ion-chip>Ionic</ion-chip>
                <ion-chip>Angular</ion-chip>
                <ion-chip>Capacitor</ion-chip>
              </div>
              <div class="platform">
                <ion-chip>
                  <ion-icon name="logo-apple-appstore"></ion-icon>

                  <ion-label>IOS</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="logo-android"></ion-icon>

                  <ion-label>ANDROID</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="globe-sharp"></ion-icon>

                  <ion-label>WEB</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>
              </div>
              <ion-button size="small" href="https://dl.digitalmall.app" target="_blank">
                <ion-label>Live Demo</ion-label>
                <ion-icon name="link-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="9">
          <div class="projects-info-container">
            <div class="project-source">
              <div class="project-secreenshot">
                <img src="assets/icon/pickup.png" />
              </div>
            </div>
            <div class="project-description">
              <div class="project-name">
                <div class="name">
                  <ion-card-title>Pickupp</ion-card-title>
                </div>
                <div class="platform">
                  <ion-label>Mobile App</ion-label>
                </div>
              </div>
              <div class="project-details">
                <ion-card-content
                  >Pickupp is Pakistan’s leading delivery app. From Showroom to
                  living room, we make moving and delivery easy. ​​From large
                  retail to personal delivery, you can now have bulky items
                  delivered on your terms.</ion-card-content
                >
              </div>
              <div class="project-tools">
                <ion-chip>Ionic</ion-chip>
                <ion-chip>Angular</ion-chip>
                <ion-chip>Capacitor</ion-chip>
              </div>
              <div class="platform">
                <ion-chip>
                  <ion-icon name="logo-apple-appstore"></ion-icon>

                  <ion-label>IOS</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="logo-android"></ion-icon>

                  <ion-label>ANDROID</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="globe-sharp"></ion-icon>

                  <ion-label>WEB</ion-label>
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-chip>
              </div>
              <div class="project-demo">
                <ion-button size="small" href="https://pickupp.pk/" target="_blank">
                  <ion-label>Live Demo</ion-label>
                  <ion-icon name="link-sharp"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
