.photo-container{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    animation: blobAnimation 10s ease-in-out infinite;
    border: 1px solid;
    }
}
.personal-info{
  display: flex;

  line-height: 35px;
  padding:100px 200px 0px 50px;
  .top{
    display: flex;
  }
}
.dynamic-word{
  color: green;
  box-shadow: -7px 0px 0px 0px;
  margin-left: 13px;
  padding-left: 12px;

}

.green-background{
  background-color: green;
  padding-left: 1px;
  padding-right: 1px;
  box-shadow: 3px 2px 0px 0px;
}

.para-info{
  width: 50%;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.5px;
}

.animated-text {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(18) 1s forwards infinite, cursor 0.4s step-end infinite alternate;
}

@keyframes fadeAnimation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes floatingBorderAnimation {
  0%, 100% {
    border-radius: 10px;
  }
  50% {
    border-radius: 50px;
  }
}



/* Define keyframes for typing animation */
@keyframes typingAnimation {
  from {
    width: 0; /* Start with no width (hidden) */
  }
}



.text-container{
  display: flex;
  flex-direction: column;
  flex: 1;

}
.highlight{
  font-weight: 600;
}

@keyframes blobAnimation {
  35%, 40% {
    border-radius: 50%; /* Initial and final border-radius value */
  }

  50% {
    border-radius: 70% 30% 60% 40%; /* Adjust the values to create the blob shape */
  }
}

a {
  text-decoration: none;
}

.linkedin{
  display: flex;
    align-items: center;
}

.link-linkedin:hover {
  cursor: pointer;
}

.link-linkedin{
  padding-left: 13px;

}

@keyframes cursor {
  from {border-color: transparent}
  50% {border-color :transparent}
  to { border-color: transparent;}
}

@keyframes typing {
  to {width:18%}
}

.application{
  padding-left: 10px;
}
.sub-heading-local{
  display: flex;
}
