.photo-container{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{


    object-fit: contain;

    animation: blobAnimation 10s ease-in-out infinite;
    border: 3px solid;
    }
}
.personal-info{
  display: flex;

  line-height: 35px;
  padding:100px 200px 0px 50px;
  .top{
    display: flex;
  }
}
.dynamic-word{
  color: green;

  margin-left: 13px;
  padding-left: 12px;

}

.green-background{
  background-color: green;
  padding-left: 1px;
  padding-right: 1px;
  box-shadow: 3px 2px 0px 0px;
}

.para-info{
  width: 80%;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.animated-text {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(18) 1s forwards infinite, cursor 0.4s step-end infinite alternate;
}

@keyframes fadeAnimation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes floatingBorderAnimation {
  0%, 100% {
    border-radius: 10px;
  }
  50% {
    border-radius: 50px;
  }
}



/* Define keyframes for typing animation */
@keyframes typingAnimation {
  from {
    width: 0; /* Start with no width (hidden) */
  }
}



.text-container{
  display: flex;
  flex-direction: column;
  flex: 1;

}
.highlight{
  font-weight: 600;
}

@keyframes blobAnimation {
  0%,
    100% {
      border-radius: 50%;
      /* Circle shape */
    }

    25% {
      border-radius: 60% 40% 30% 70%;
      /* Change shape to oval with different radii */
    }

    50% {
      border-radius: 80% 30% 40% 60%;
      /* Another variation of the oval shape */
    }

    75% {
      border-radius: 60% 50% 50% 60%;
      /* Another oval variation */
    }
}

a {
  text-decoration: none;
}

.linkedin{
  display: flex;
    align-items: center;
}

.link-linkedin:hover {
  cursor: pointer;
}

.link-linkedin{
  padding-left: 13px;

}

@keyframes cursor {
  from {border-color: transparent}
  50% {border-color :transparent}
  to { border-color: transparent;}
}

@keyframes typing {
  to {width:18%}
}

.application{
  padding-left: 10px;
}
.sub-heading-local{
  display: flex;
}

.line-height{
  line-height: 25px;
}
