<div class="personal-info">

  <div class="text-container">
    <h6 class="spacing">Hi, my name is</h6>
    <span class="heading">M. Junaid Gul</span> <br>
    <div class="sub-heading sub-heading-local">I build <span class="green-background">H</span><span class="green-background">y</span><span class="green-background">b</span><span class="green-background">r</span><span class="green-background">i</span><span class="green-background">d</span> <div class="application"> Applications that runs on </div> <div  class="dynamic-word animated-text" style="white-space: nowrap;">{{word$ |async}}</div> </div>
    <div class="para-info">
      <p>As an accomplished Senior Software Engineer with a track record of successful projects boasting more than 100k downloads my passion lies in developing top-notch hybrid applications with a relentiless focus on delivering <span class="highlight">quality code</span>. With a solid foundation in software development, I aim to leverage my expertise to build innovative and <span class="highlight">user-friendly</span> applications that push the boundires of technology.</p>
    </div>
    <div class="linkedin label-container">
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-label class="link-linkedin"><a href="https://linkedin.com/in/junaidgulsatti" target="_blank">https://linkedin.com/in/junaidgulsatti</a></ion-label>
    </div>

  </div>

  <div class="photo-container">
    <div class="floating-border">
  <img src="assets/icon/profile.png">
</div>
</div>

</div>


